<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>

   <div class="test"></div>
   <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
      <div class="goflex container">
         <div class="posR">
            </i><input type="file" name="file" id="file" class="inputfile" />
            <label for="file">Choose a file</label>
         </div>
         <!-- <input type = "file" name = "file" class="choosing-file" /> -->
         <input type="submit" class="but-submit" />
      </div>
      <div class="theimg">
         <label class="prediction">{{prediction}}</label>
         <img src="/static/images/{{img_src}}" width="224px" height="224px" alt="">
      </div>
   </form>

</body>

</html>